<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel Form</title>
    <!-- Preload Google Fonts for faster loading -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Modak&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/cancel.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <!-- Popup -->
    <div id="cancel-order-overlay" class="cancel-overlay hidden">
        <div class="cancel-popup">
            <!-- Nút đóng popup -->
            <button class="close-btn" id="cancelPopupClose">&times;</button>
        
            <!-- Title -->
            <h2 class="cancel-title">Cancel Order</h2>
        
            <!-- Description -->
            <p class="cancel-desc">
                Please let Candy Crunch know the reason for canceling your order.
                Paid orders will be refunded according to our refund policy.
            </p>
        
            <!-- Chọn lý do -->
            <div class="input" data-type="dropdown" data-size="medium">
                <label class="input-label">Return reason</label>
                <div class="input-field">
                    <div class="dropdown-trigger">
                        <span class="dropdown-text">Select a return reason</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="dropdown-arrow">
                        <path d="M18 9L12 15L6 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="dropdown-menu">
                        <button class="dropdown-option" data-value="1">Changed my mind</button>
                        <button class="dropdown-option" data-value="2">Ordered wrong item</button>
                        <button class="dropdown-option" data-value="3">Found a better price</button>
                        <button class="dropdown-option" data-value="4">Other</button>
                    </div>
                </div>
            </div>

            <div class="return-submit">
                <button class="btn-primary-medium">Send Request</button>
            </div>
        </div>
    </div>
    
    <!-- Script -->
    <script src="../js/main.js"></script>
    <script src="../js/cancel.js"></script>
</body>
</html>