<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="../css/changepass.css">
    <link rel="stylesheet" href="../css/my_account.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Modak&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="index.html" class="breadcrumb-item home-icon">
                <img src="../img/home.svg">
                <i class="fas fa-home"></i>
            </a>
            <span class="separator"></span>
            <a href="my_account.html" class="breadcrumb-item">
                My Account
            </a>
            <span class="separator"></span>
            <span class="breadcrumb-item active">
                Change Password
            </span>
        </div>          
    </div>
    <div class="my-account-profile">
        <div class="title">
            <div class="my-account">Change Password</div>
        </div>

        <div class="content">
            <!-- SIDEBAR -->
            <div class="card-account">
                <div class="user-card">
                    <img class="avatar-icon" src="../img/ot-longvo.png" alt="avatar">
                    <div class="user-name">
                        <div class="john-doe">John Doe</div>
                    </div>
                </div>
                <div class="menus">
                    <a href="my_account.html" class="account-menu">
                        <img class="icon-account-outline" src="../img/account.svg" alt="my account">
                        <div class="sidebar-ele"><div class="my-orders">My Account</div></div>
                    </a>
                    <a href="change_password.html" class="account-menu">
                        <img class="icon-key" src="../img/key.svg" alt="change password">
                        <div class="sidebar-ele"><div class="my-orders">Change Password</div></div>
                    </a>
                    <a href="my_orders.html" class="account-menu">
                        <img class="icon-account-outline" src="../img/order.svg" alt="orders">
                        <div class="sidebar-ele"><div class="my-orders2">My Orders</div></div>
                    </a>
                    <a href="vouchers.html" class="account-menu">
                        <img class="icon-key" src="../img/voucher.svg" alt="vouchers">
                        <div class="sidebar-ele"><div class="my-orders2">My Vouchers</div></div>
                    </a>
                    <a href="login.html" class="account-menu">
                        <img class="icon-account-outline" src="../img/logout.svg" alt="logout">
                        <div class="sidebar-ele"><div class="my-orders2">Log out</div></div>
                    </a>
                </div>
            </div>

            <!-- MAIN CONTENT -->
            <div class="profile-parent">
                <div class="profile">
                    <div class="title2">
                        <div class="heading">
                            <div class="title3">
                                <div class="text">Change Password</div>
                            </div>
                            <div class="button">
                                <button class="btn-primary-outline-medium" id="savePassBtn">Confirm</button>
                            </div>
                        </div>
                    </div>

                    <div class="profile2">
                        <div class="input" data-optional="true">
                            <label class="input-label">Current Password</label>
                            <div class="input-field">
                                <input type="password" id="currentPassword" placeholder="e.g. your current password" >
                            </div>
                        </div>
                        <div class="input" data-optional="true">
                            <label class="input-label">New Password</label>
                            <div class="input-field">
                                <input type="password" id="newPassword" placeholder="e.g. your new password" >
                            </div>
                        </div>
                        <div class="input" data-optional="true">
                            <label class="input-label">Confirm New Password</label>
                            <div class="input-field">
                                <input type="password" id="confirmPassword" placeholder="Confirm new password">                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/change_password.js"></script>
</body>
</html>