<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="../css/my_account.css" />
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Modak&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item home-icon">
                    <img src="../img/home.svg">
                    <i class="fas fa-home"></i>
                </a>
                <span class="separator"></span>
                <span class="breadcrumb-item active">
                    My Account
                </span>
            </div>          
        </div>   
        <div class="my-account-profile">
            <div class="title">
                <div class="my-account">MY ACCOUNT</div>
            </div>
            <div class="content">
                <div class="card-account">
                    <div class="user-card">
                        <img class="avatar-icon" src="../img/ot-longvo.png" alt="avatar">
                        <div class="user-name">
                            <div class="john-doe">John Doe</div>
                        </div>
                    </div>
                    <div class="menus">
                        <div class="account-menu">
                            <img class="icon-account-outline" src="../img/account.svg" alt="my account">
                            <div class="sidebar-ele">
                                <div class="my-orders">My Account</div>
                            </div>
                        </div>
                        <div class="account-menu" id="menuChangePassword">
                            <img class="icon-key" src="../img/key.svg" alt="change">
                            <div class="sidebar-ele">
                                <div class="my-orders2" >Change Password</div>
                            </div>
                        </div>
                        <div class="account-menu">
                            <img class="icon-account-outline" src="../img/order.svg" alt="orders">
                            <div class="sidebar-ele">
                                <div class="my-orders2">My Orders</div>
                            </div>
                        </div>
                        <div class="account-menu">
                            <img class="icon-key" src="../img/voucher.svg" alt="voucher">
                            <div class="sidebar-ele">
                                <div class="my-orders2">My Vouchers</div>
                            </div>
                        </div>
                        <div class="account-menu">
                            <img class="icon-account-outline" src="../img/logout.svg" alt="logout">
                            <div class="sidebar-ele">
                                <div class="my-orders2">Log out</div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="profile-parent">
                <div class="profile">
                    <div class="title2">
                        <div class="heading">
                            <div class="title3">
                                <div class="text">My profile</div>
                            </div>
                            <div class="button" id="editProfileBtn">
                                <div class="texttitle">
                                    <div class="text2">
                                        <div class="text2">
                                            <div class="text4">Edit Information</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile2">
                        <div class="frame-div">
                            <div class="info">
                                <div class="line">
                                    <div class="label">
                                        <div class="gender">User name</div>
                                    </div>
                                    <div class="value">
                                        <div class="male" id="displayUsername">john_doe</div>
                                    </div>
                                </div>
                                <div class="line2">
                                    <div class="label">
                                        <div class="gender">First name</div>
                                    </div>
                                    <div class="value">
                                        <div class="male" id="displayFirstName">John</div>
                                    </div>
                                </div>
                                <div class="line2">
                                    <div class="label">
                                        <div class="gender">Last name</div>
                                    </div>
                                    <div class="value">
                                        <div class="male" id="displayLastName">Doe</div>
                                    </div>
                                </div>
                                <div class="line2">
                                    <div class="label">
                                        <div class="gender">Email</div>
                                    </div>
                                    <div class="value">
                                        <div class="male" id="displayEmail">johndoe@gmail.com</div>
                                    </div>
                                </div>
                                <div class="line2">
                                    <div class="label">
                                        <div class="gender">Gender</div>
                                    </div>
                                    <div class="value">
                                        <div class="male" id='displayGender'>Female</div>
                                    </div>
                                </div>
                                <div class="line2">
                                    <div class="label">
                                        <div class="gender">Date of Birth</div>
                                    </div>
                                    <div class="value">
                                        <div class="male" id="displayDOB">12/02/2002</div>
                                    </div>
                                </div>
                            </div>
                            <div class="avatar">
                                <img class="avatar-icon2" src="../img/ot-longvo.png" alt="avatar">
                                <div class="button2">
                                    <div class="texttitle">
                                        <div class="text2">
                                            <div class="text2">
                                                <div class="text4">Choose image</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="gender">Maximum file size: 1 MB<br>Supported formats: .JPEG, .PNG</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile">
                    <div class="title2">
                        <div class="heading">
                            <div class="title3">
                                <div class="text">Banking Information</div>
                            </div>
                            <div class="button-group">
                                <div class="button3">
                                    <div class="texttitle">
                                        <div class="text2">
                                            <div class="text2">
                                                <div class="text4">Edit Information</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button4">
                                    <div class="texttitle">
                                        <div class="text2">
                                            <div class="text2">
                                                <div class="text4">Link Bank Account</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile3">
                        <div class="content3">
                            <div class="info2">
                                <div class="line2">
                                    <div class="label7">
                                        <div class="gender">Account Number</div>
                                    </div>
                                    <div class="value6">
                                        <div class="gender">18732676371263223</div>
                                    </div>
                                    <img id="toggleAccountButton" class="icon-toggle" src="../img/eye-closed.svg" alt="Show" title="Click to show" style="cursor:pointer;">
                                    <img id="toggleAccountClose" class="icon-toggle" src="../img/eye-open.svg" alt="Hide" title="Click to hide" style="cursor: pointer;">
                                </div>
                                <div class="line2">
                                    <div class="label8">
                                        <div class="gender">Bank</div>
                                    </div>
                                    <div class="value7">
                                        <div class="gender">Shinhan Bank</div>
                                    </div>
                                    <div class="icon-eye-open2"></div>
                                </div>
                                <div class="line2">
                                    <div class="label8">
                                        <div class="gender">Bank Branch</div>
                                    </div>
                                    <div class="value7">
                                        <div class="gender">Shinhan Bank District 3</div>
                                    </div>
                                    <div class="icon-eye-open2"></div>
                                </div>
                                <div class="line2">
                                    <div class="label7">
                                        <div class="gender">Account Holder Name</div>
                                    </div>
                                    <div class="value9">
                                        <div class="gender">John Doe</div>
                                    </div>
                                    <img id="toggleAccountButton" class="icon-toggle" src="../img/eye-closed.svg" alt="Show" title="Click to show" style="cursor:pointer;">
                                    <img id="toggleAccountClose" class="icon-toggle" src="../img/eye-open.svg" alt="Hide" title="Click to hide" style="cursor: pointer;">
                                </div>
                                <div class="line2">
                                    <div class="label7">
                                        <div class="gender">ID Number</div>
                                    </div>
                                    <div class="value9">
                                        <div class="gender">272637627361278</div>
                                    </div>
                                    <img id="toggleAccountButton" class="icon-toggle" src="../img/eye-closed.svg" alt="Show" title="Click to show" style="cursor:pointer;">
                                    <img id="toggleAccountClose" class="icon-toggle" src="../img/eye-open.svg" alt="Hide" title="Click to hide" style="cursor: pointer;">
                                </div>
                            </div>
                            <div class="avatar2">
                                <img class="avatar-icon2" alt="">
                                <div class="button5"></div>
                                <div class="sunset-boulevard-los-angeles-wrapper">
                                    <div class="gender">Maximum file size: 1 MB<br>Supported formats: .JPEG, .PNG</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shipping">
                    <div class="title2">
                        <div class="heading">
                            <div class="title3">
                                <div class="text">Shipping Information</div>
                            </div>
                            <div class="button-group">
                                <div class="button6">
                                    <div class="texttitle">
                                        <div class="text2">
                                            <div class="text2">
                                                <div class="text4">Edit Information</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button4">
                                    <div class="textitle">
                                        <div class="text2">
                                            <div class="text2">
                                                <div class="text4">Add New Address</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile4">
                        <div class="frame-parent">
                            <div class="frame-group">
                                <div class="frame-container">
                                    <div class="frame-div">
                                        <div class="frame-parent2">
                                            <div class="john-doe-wrapper">
                                                <div class="text4">John Doe</div>
                                            </div>

                                        </div>
                                        <div class="status-tag">
                                            <div class="completed">Default</div>
                                        </div>
                                    </div>
                                    <div class="sunset-boulevard-los-angeles-wrapper">
                                        <div class="gender">1243 Sunset Boulevard, Los Angeles, United States</div>
                                    </div>
                                </div>
                                <div class="frame-container">
                                    <div class="frame-div">
                                        <div class="frame-parent5">
                                            <div class="john-doe-wrapper">
                                                <div class="text4">John Doe</div>
                                            </div>

                                        </div>
                                        <div class="status-tag2"></div>
                                    </div>
                                    <div class="sunset-boulevard-los-angeles-wrapper">
                                        <div class="gender">1243 Sunset Boulevard, Los Angeles, United States</div>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-group">
                                <div class="frame-container">
                                    <div class="frame-div">
                                        <div class="frame-parent5">
                                            <div class="john-doe-wrapper">
                                                <div class="text4">John Doe</div>
                                            </div>

                                        </div>
                                        <div class="status-tag2"></div>
                                    </div>
                                    <div class="sunset-boulevard-los-angeles-wrapper">
                                        <div class="gender">1243 Sunset Boulevard, Los Angeles, United States</div>
                                    </div>
                                </div>
                                <div class="frame-container">
                                    <div class="frame-div">
                                        <div class="frame-parent5">
                                            <div class="john-doe-wrapper">
                                                <div class="text4">John Doe</div>
                                            </div>

                                        </div>
                                        <div class="status-tag2"></div>
                                    </div>
                                    <div class="sunset-boulevard-los-angeles-wrapper">
                                        <div class="gender">1243 Sunset Boulevard, Los Angeles, United States</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal-overlay" id="editModal">
        <div class="new-address">
            <div class="edit-my-profile-wrapper">
                <div class="edit-my-profile">Edit My Profile</div>
            </div>
            <div class="frame-parent-modal">
                <div class="input-parent">
                    <div class="input">
                        <div class="head">
                            <div class="label-edit">
                                <div class="texttitle-edit">
                                    <div class="text-edit">
                                        <div class="text-edit">
                                            <div class="male">First name</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="texttitle2">
                                    <div class="text4">
                                        <div class="text-edit">
                                            <div class="text6">(optional)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="texttitle3">
                                    <div class="text7">
                                        <div class="text8">
                                            <input type="text" class="gender" id="editFirstName" placeholder="First name" value="John">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input">
                        <div class="head">
                            <div class="label-edit">
                                <div class="texttitle-edit">
                                    <div class="text-edit">
                                        <div class="text-edit">
                                            <div class="male">Last name</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="texttitle2">
                                    <div class="text4">
                                        <div class="text-edit">
                                            <div class="text6">(optional)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="texttitle3">
                                    <div class="text7">
                                        <div class="text8">
                                            <input type="text" class="gender" id="editLastName" placeholder="Last name" value="Doe">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input3">
                    <div class="head">
                        <div class="label3">
                            <div class="texttitle-edit">
                                <div class="text-edit">
                                    <div class="text-edit">
                                        <div class="male">Email</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="texttitle3">
                                <div class="text7">
                                    <div class="text8">
                                        <input type="email" class="gender" id="editEmail" placeholder="Email" value="johndoe@gmail.com">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input3">
                    <div class="head">
                        <div class="label3">
                            <div class="texttitle-edit">
                                <div class="text-edit">
                                    <div class="text-edit">
                                        <div class="male">Date of Birth</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="texttitle3">
                                <div class="text7">
                                    <div class="text8">
                                        <input type="text" class="gender" id="editDOB" placeholder="DD/MM/YYYY" value="12/02/2002">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line-edit">
                    <div class="label5">
                        <div class="gender">Gender</div>
                    </div>
                    <div class="radio-edit">
                        <div class="icon-radio-picked-parent" onclick="selectGender('male')">
                            <div class="icon-radio-picked" id="radio-male">
                                <img class="vector-icon" alt="">
                            </div>
                            <div class="male">Male</div>
                        </div>
                        <div class="icon-radio-picked-parent" onclick="selectGender('female')">
                            <div class="icon-radio-picked checked" id="radio-female">
                                <img class="vector-icon" alt="">
                            </div>
                            <div class="male">Female</div>
                        </div>
                        <div class="icon-radio-picked-parent" onclick="selectGender('other')">
                            <div class="icon-radio-picked" id="radio-other">
                                <img class="vector-icon" alt="">
                            </div>
                            <div class="male">Other</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-parent">
                <div class="button-save" id="saveBtn">
                    <div class="texttitle">
                        <div class="text-edit">
                            <div class="text-edit">
                                <div class="text33">Save</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-cancel" id="cancelBtn">
                    <div class="texttitle">
                        <div class="text-edit">
                            <div class="text-edit">
                                <div class="text33">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay" id="ShippingModal">
        <div class="new-address" style="max-width:520px">
            <div class="edit-my-profile-wrapper">
                <div class="edit-my-profile" id="shippingModalTitle">
                    Edit Shipping Address
                </div>
            </div>
            <div class="frame-parent-modal">
                <div class="input-parent">
                    <div clas="input">
                        <div class="head">
                            <div class="label-edit">
                                <div class="male">Full Name (optional)</div>
                            </div>
                            <div class="field">
                                <input type="text" class="gender" id="shipName" placeholder="John Doe">
                            </div>
                        </div>
                    </div>
                    <div class="input">
                        <div class="head">
                            <div class="label-edit">
                                <div class="male">Phone Number (optional)</div>
                            </div>
                            <div class="field">
                                <input type="text" class="gender" id="shipPhone" placeholder="0123456789">
                            </div>
                        </div>
                    </div>
                    <div class="input3">
                        <div class="head">
                            <div class="label-edit">
                                <div class="male">Address</div>
                            </div>
                            <div class="field">
                                <input type="text" class="gender" id="shipAddress" placeholder="123 Sunset Boulevard">
                            </div>
                        </div>
                    </div>
                    <div class="input-parent">
                        <div class="input">
                            <div class="head">
                                <div class="label-edit">
                                    <div class="male"> City/State</div>
                                </div>
                                <div class="field">
                                    <input type="text" class="gender" id="shipCity" placeholder="Los Angeles">
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <div class="head">
                                <div class="label-edit">
                                    <div class="male">Country</div>
                                </div>
                                <div class="field">
                                    <input type="text" class="gender" id="shipCountry" placeholder="United States">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Actions-->
                <div class="button-parent">
                    <!--Save-->
                    <button class="btn-primary-medium" id="saveShippingBtn">Save</button>
                    <!--Cancel-->
                    <button class="btn-secondary-outline-medium" id="cancelShippingBtn">Cancel</button>
                    <!--Delete-->
                    <button class="btn-error-outline-medium" id="deleteShippingBtn" style="margin-top:12px; width:100%">Delete</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../js/my_account.js"></script>
</body>
</html>