<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/my_account.css">
    <link rel = "stylesheet" href="../css/my_orders.css">
    <link href="https://fonts.googleapis.com/css2?family=Modak&family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="index.html" class="breadcrumb-item home-icon">
                <img src="../img/home.svg">
                <i class="fas fa-home"></i>
            </a>
            <span class="separator"></span>
            <a href="my_account.html" class="breadcrumb-item">
                My Account
            </a>
            <span class="separator"></span>
            <span class="breadcrumb-item active">
                My Orders
            </span>
        </div>          
    </div>
    <div class="my-account-profile">
        <div class="title">
            <div class="my-account">My Orders</div>
        </div>
        <div class="content">
            <div class="card-account">
                <div class="user-card">
                    <img class="avatar-icon" src="../img/ot-longvo.png" alt="avatar">
                    <div class="user-name">
                        <div class="john-doe">John Doe</div>
                    </div>
                </div>
                <div class="menus">
                    <a href="my_account.html" class="account-menu">
                        <img class="icon-account-outline" src="../img/account.svg" alt="my account">
                        <div class="sidebar-ele">
                            <div class="my-orders2">My Account</div>
                        </div>
                    </a>
                    <a href="changepass.html" class="account-menu">
                        <img class="icon-key" src="../img/key.svg" alt="change">
                        <div class="sidebar-ele">
                            <div class="my-orders2">Change Password</div>
                        </div>
                    </a>
                    <a href="my_vouchers.html" class="account-menu">
                        <img class="icon-account-outline" src="../img/order.svg" alt="orders">
                        <div class="sidebar-ele">
                            <div class="my-orders2">My Orders</div>
                        </div>
                    </a>
                    <a href="my_vouchers.html" class="account-menu">
                        <img class="icon-key" src="../img/voucher.svg" alt="voucher">
                        <div class="sidebar-ele">
                            <div class="my-orders2">My Vouchers</div>
                        </div>
                    </a>
                    <a href="#" class="account-menu">
                        <img class="icon-account-outline" src="../img/logout.svg" alt="logout">
                        <div class="sidebar-ele">
                            <div class="my-orders2">Log out</div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- RIGHT CONTENT -->
            <section class="right">
                <!-- FILTER -->
                <div class="filter-parent">
                    <div class="filter">
                        <span>Total: <b id="totalOrders">12 Orders</b></span>
                    </div>

                    <div class="filters">
                        <div class="filter2" id="statusFilter">
                            <span>Status:</span>
                            <div class="attribute2">
                                <span id="statusLabel">Pending Confirmation</span>
                                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E">
                            </div>
                            <ul class="dropdown-menu" id="statusMenu">
                                <li data-value="all">All</li>
                                <li data-value="waiting-payment">Waiting Payment</li>
                                <li data-value="pending">Pending</li>
                                <li data-value="on-shipping">On Shipping</li>
                                <li data-value="completed">Completed</li>
                                <li data-value="return">Return</li>
                                <li data-value="cancel">Cancel</li>
                            </ul>
                        </div>
                        <div class="filter2" id="timeFilter">
                            <span>Time:</span>
                            <div class="attribute2">
                                <span id="timeLabel">Last 30 days</span>
                                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E">
                            </div>
                            <ul class="dropdown-menu" id="timeMenu">
                                <li data-value="7">Last 7 days</li>
                                <li data-value="30">Last 30 days</li>
                                <li data-value="90">Last 3 months</li>
                                <li data-value="365">Last year</li>
                                <li data-value="all">All time</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- ORDER LIST -->
                <div class="order-list" id="orderList"></div>
            </section>
        </div>
    </div>

    <script src="../js/my_orders.js"></script>
</body>
</html>