.wishlist-product-item {
    display: flex;
    padding-bottom: var(--spacing-20);
    align-items: flex-start;
    gap: var(--spacing-20);
    align-self: stretch;
    border-bottom: 2px solid var(--gray-300);
}

.wishlist-product-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wishlist-upsell-image {
    display: block;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius-12);
    width: 110px;
    height: 110px;
}

.wishlist-product-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 45px;
    flex: 1 0 0;
    align-self: stretch;
}

.wishlist-add {
    display: flex;
    padding: var(--spacing-8);
    justify-content: center;
    align-items: center;    
    border-radius: 8px;
    border: 1px solid var(--primary-button-pressed-border);
    background: var(--primary-button-outline-background);
}

@media (max-width: 1200px) {
    .wishlist-product-item {
        gap: var(--spacing-16);
        padding-bottom: var(--spacing-16);
    }

    .wishlist-upsell-image {
        width: 96px;
        height: 96px;
    }

    .wishlist-product-right {
        gap: 45px;
    }

    .wishlist-add {
        padding: 6px;
    }
}

@media (max-width: 768px) {
    .wishlist-product-item {
        gap: var(--spacing-16);
        padding-bottom: var(--spacing-16);
        height: 130px;
    }

    /* LEFT */
    .wishlist-product-left {
        align-items: flex-start;
    }

    /* RIGHT */
    .wishlist-product-right {
        gap: 50px;
    }

    .wishlist-add {
        padding: 6px;
    }

    .wishlist-upsell-image {
        width: 115px;
        height: 115px;
    }
}
